/******************
universal styles
****************/
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

*{
    margin: 0;
    padding: 0;
 font-family: "Ga Maamli", sans-serif;;
 box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}


body{
    background-color: black;
    color: #fff;
}
/******************
navbar styles
****************/

.container{
    padding: 10px 10%;

}

.logo{
    width: 140px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}


/******************
header styles
****************/

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header-col1{
    flex-basis: 50%;
    margin-top: -135px;

}
 
header-col2{
    flex-basis: 50%;
}


header-col2 img{
    flex-basis: 50%;
    width: 100px;
}

.header-text{
    margin-top: 20%;
    font-size: 25px;
}

header-text h1{
    font-size: 45px;
    margin-top: 20px;

}
.header-text span{
    color: blue;
    text-shadow: -0.5p 0.5px 1px #594f96;
}

/******************
about styles
****************/
#about{
    padding: 80px 0;
    color: aliceblue;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1-img{
    width: 100%;
    border: 50px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 p{
    font-size: 23px;
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}


/******************
portfolio styles
****************/

#athletes{
    padding: 50px 0;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.portfolio-item{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}

.portfolio-item img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.0001s ;
}


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient( rgba(0,0,0,0.6), #594f96) ;
   border-radius: 10px;
   position: absolute;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   font-size: 14px;
   transition: height 0.5s;
}

.portfolio-item:hover img{
transition: 0.5s ;
}

.portfolio-item:hover .layer{
    height: 100%;
}


.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: aqua;
    background: #fff;
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #594f96;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    transition: backgroung 0.5s;
    border-radius: 6px;

}


.btm:hover{
    background: #594f96;
}


/******************
footer  styles
****************/

.footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #334543;
    font-weight: 300;
    margin-top: 20px;
}



